<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="接口测试" thread-count="1" parallel="tests">
    <listeners>
        <!-- <listener class-name="com.utils.testng.ExtentReporterNGListener" /> -->
        <!--<listener class-name="org.ATCoreFunction.utils.testng.RetryListener" />-->
        <listener class-name="com.autotest.listeners.ExtentTestNGITestListener" />
    </listeners>
    <parameter name="env" value="online" />
    <parameter name="projectName" value="接口测试" />
    <suite-files>
        <suite-file path="flights.xml"></suite-file>
        <suite-file path="help.xml"></suite-file>
    </suite-files>
</suite>
